@font-face {
    font-family: rosario;
    src: url(Rosario-Regular-webfont.woff);
}

@font-face {
    font-family: rosario;
    src: url(Rosario-Bold-webfont.woff);
    font-weight: bold;
}

body {
	font-family: rosario;
	background-color: #f0f0f0;
	margin: 0;
}

h1 {
	font-weight: bold;
}

.outer {
	display: table;
	position: absolute;
	width: 100%;
	height: 100%;
}

.container {
	display: table-cell;
	vertical-align: middle;
}

.textContainer {
	display: none;
	width: 500px;
	height: 50px;
	font-size: 40px;
}

.cpuGuessContainer {
	position: absolute;
	top: 50%;
	left: 0;
	height: 100%;
	font-size: 30px;
	margin-top: 20px;
	width: 100%;
	text-align: center;
}

.main {
	width: 600px;
	height: 60px;
	margin: 30px auto auto auto;
}

.yourTurn {
	font-size: 22px;
	width: 100%;
	text-align: center;
	color: #5e5e5e;
}

.main input {
	font-size: 40px;
	height: 100%;
	width: 100%;
	border: 1px solid #e5e5e5;
	border-radius: 30px;
	padding: 0px 35px 0px 35px;
	outline-width: 0;
}

#confetti{
	height: 100%;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: -1;
}

